@model App.BLL.DTO.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetPerPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetPerPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPersonCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPersonCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPersonCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPersonCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meeting!.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
